# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cmake-master-43d9b296f5688b865bc2c40ea0af3b042047dfe8
/java/Design_pattern/DesignPattern/nbproject/private/
/java/Design_pattern/DesignPattern/build/
/java/Design_pattern/DesignPattern/dist/
/prj/nodeaccountmgr/node_modules
/prj/nodeaccountmgr/myinfo.db
/prj/accountMgr
/prj/nodercms-1.4.0
/prj/sqlitestudio
